* {
    box-sizing: border-box;
  }

#mainPic{
color: aqua;
    background-image: url("assets/images/600159438_cover.jpg");
    height: 500px;
}
.jumbotron-fluid{
    background-color: rgb(131, 195, 239);
    font-family: 'Acme', sans-serif;
    margin: 0;
    padding: 0;
}
.lead{
    margin: 0;
}
#container{
    text-align: center;
   /* margin: auto; */
}

#jumbo1{
    position: relative;
   background-color: rgb(131, 195, 239);
  left:20px;
    width: 475px;
   margin: 4px 2px;
  height: 70px;
  
}
#jumbo1 h4{
    text-align: center;
    color: rgb(6, 105, 144);
    font-size: 50px;
    font-weight: bold;
}
.popover{
    position: absolute;
    z-index: 100;
    font-size: 20px;
    font-family: "acme";
    background-color: rgb(240, 206, 164);
    color: blue;
    text-align: center;
    left: 100px;
    top:80px;
    /* margin-left: 150px;; */

}