<navbar-veadit></navbar-veadit>

<div class="jumbotron jumbotron-fluid">
    <div id="container" class="container">
        <h1 class="display-2">Tenants</h1>
        <h3>{{activeUser.fname + " " + activeUser.lname}}-Welcome to your Tenanat screnn</h3>
        <h5 class="lead">VeadiT Comunity Let You Create & Add  New Tenant At Your building</h5>
        <!-- Open Modal -->
        <br>
        <button type="button" class="btn btn-outline-success" ng-show="isUserAdmin()" data-toggle="modal"
            data-target="#ModalCenter">Add Tenant</button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="margin-auto col-sm-6 col-lg-3" ng-repeat="tenant in tenantsArr">
            <div class="card mt-3" ng-click="showPic(pic)" ng-class="{'myActive':isActive===pic}">
                <img class="img-fluid" ng-src="{{tenant.picture}}" alt="{{name}}">
                <div class="card-body">
                    <h5 class="card-title">{{tenant.fname+" "+tenant.lname}}</h5>
                    <p class="card-title">Apartment {{tenant.apartment}}</p>
                    <p class="card-title">email: {{tenant.email}}</p>

                    <button type="button" class="btn btn-lg btn-success" ng-click="deleteTenant(tenant)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>